[part~="cell"].lateData {
    background: rgb(255, 240, 227) !important ;
    color: black;
    /*color: rgb(13, 105, 56) !important;*/
}

[part~="cell"].isDistictLevelData {
    /*background: rgb(255, 240, 227) !important ;*/
  /*color: black;*/
 /*  color: rgb(13, 105, 56) !important;*/
}

.full-width-column {
    transition: width 0.3s;
}

/* Adjust width when column is hovered */
.full-width-column:hover {
    width: 100%;
}


