
$valo-menu-background-color: $s-default-color !default;

@mixin sormas-menu {
	
  .valo-menu {
    font-size: 16px;
    vertical-align: middle;
    border-right-color: $v-focus-color;
    
    .valo-menu-toggle {
      font-size: 11px;
    }
  
    .valo-menu-title {
      padding: 36px 12px;
      background: $v-background-color;
      color: $s-default-color;
      cursor: pointer;
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      font-family: 'Source Sans Pro';
      letter-spacing: -1px;  
      border-bottom: 3px solid $s-critical-color;
    }
    
    .valo-menu-part {
      overflow-x: hidden; /* no x-scrollbar */
    }
    
    .valo-menu-logo {
      display: inline-block;
      height: auto !important;
      max-height: 64px !important;
      width: auto !important;
      background: none;
      box-shadow: none;
      margin: 0;
    }
	  
    .valo-menu-item {
	  color: inherit;
	  text-shadow: none;
	  padding: 8px 16px;
	  line-height: 36px;
		
	  .v-icon {
		color: inherit;
		font-size: 28px;
		min-width: 36px;
	  }
	
	&:hover{
	background: #6D5D4F!important;
	    color: #ffffff !important;
		text-shadow: none !important;	
	}
		
	  &.selected {
		background: #F28A35!important;
	    color: #ffffff !important;
		text-shadow: none !important;
		  
		.v-icon {
	      color: #ffffff!important;
		}
		  
		&::before {
		  position: absolute;
		  top: -12px;
		  right: 0px;
		  width: 4px;
		  height: 74px;
		  background-color: $v-selection-color;
		  content: "";
		}
	  }
	}
	
    .v-menubar-user-menu {
    	margin: 8px 0px;
    	text-align: left;
    }
  }
  
  .valo-menu-responsive[width-range~="0-800px"] {
    padding-top: 46px;
	
	.valo-menuitems {
	  top: 41px;
    }
  
    .valo-menu-title {
      height: 38px !important;
    }
    
    .valo-menu-logo {
      margin-top: 1px;
display: none;
    }
    
    .valo-menu-title {
      margin-top: 3px;
    }
    
    .valo-menu .v-menubar-user-menu {
      top: 3px;
      color: valo-font-color(#fff, 0.9);
    }
  }

.view-headerxxx[width-range~="0-800px"] {
	
	width: inherit !important;
	//background-color: black !important;
	// !important;
}

.view-headerxxxx[width-range~="801px-"] {
	
	width: 100% !important;
	//background-color: black !important;
	// !important;
}

    
  // Move logout and settings buttons to the bottom of the menu on large screens
  .v-ui[width-range~="801px-"] .valo-menu-part {
  	.settings-menu {
  	  margin-top: 42px;
  	}
    .logout-menu {
    }
  }
  
  // hide the title for a more compact header when the menu is narrow
  .v-ui[width-range~="801px-1100px"] .valo-menu-part {
    .valo-menu-title .v-label {
      display: none;
    }
  }    

  // Override valo default narrow menu button on small screens to have the full logout text visible
  .v-ui[width-range~="0-500px"] {
    .valo-menu .v-menubar-user-menu .v-menubar-menuitem-caption {
      width: auto;
    }
  }    
}

.crud-main-layoutx{
	overflow: scroll !important;
}

.default-height-720px{
	height: 720px !important;
}
