@import url('./main-layout.css');

/* html {
      --lumo-primary-color: #0D6938;
      --lumo-primary-color-50pct: rgba(240, 143, 62, 0.5);
      --lumo-primary-color-10pct: rgba(240, 143, 62, 0.1);
      --lumo-shade: hsl(208, 0%, 43%);
      --lumo-shade-5pct: hsla(208, 0%, 43%, 0.05);
      --lumo-shade-10pct: hsla(208, 0%, 43%, 0.1);
      --lumo-shade-20pct: hsla(208, 0%, 43%, 0.2);
      --lumo-shade-30pct: hsla(208, 0%, 43%, 0.3);
      --lumo-shade-40pct: hsla(208, 0%, 43%, 0.4);
      --lumo-shade-50pct: hsla(208, 0%, 43%, 0.5);
      --lumo-shade-60pct: hsla(208, 0%, 43%, 0.6);
      --lumo-shade-70pct: hsla(208, 0%, 43%, 0.7);
      --lumo-shade-80pct: hsla(208, 0%, 43%, 0.8);
      --lumo-shade-90pct: hsla(208, 0%, 43%, 0.9);
      --lumo-primary-text-color: hsl(163, 100%, 34%);
      --lumo-error-color-50pct: hsla(0, 100%, 50%, 0.5);
      --lumo-error-color-10pct: hsla(0, 100%, 50%, 0.1);
      --lumo-success-color-50pct: hsla(159, 100%, 42%, 0.5);
      --lumo-success-color-10pct: hsla(159, 100%, 42%, 0.1);
      --lumo-error-color: hsl(0, 100%, 50%);
      --lumo-error-text-color: hsl(0, 86%, 45%);
      --lumo-success-color: hsl(159, 100%, 42%);
      --lumo-success-contrast-color: hsl(159, 29%, 10%);
      --lumo-success-text-color: hsl(159, 61%, 40%);
      --lumo-body-text-color: rgb(0, 0, 0);
      --lumo-font-size: 1rem;
      --lumo-font-size-xxxl: 1.75rem;
      --lumo-font-size-xxl: 1.375rem;
      --lumo-font-size-xl: 1.125rem;
      --lumo-font-size-l: 1rem;
      --lumo-font-size-m: 0.875rem;
      --lumo-font-size-s: 0.8125rem;
      --lumo-font-size-xs: 0.75rem;
      --lumo-font-size-xxs: 0.6875rem;
      --lumo-line-height-m: 1.8;
      --lumo-line-height-s: 1.5;
      --lumo-line-height-xs: 1.3;
      --lumo-size-xl: 3rem;
      --lumo-size-l: 2.5rem;
      --lumo-size-m: 2rem;
      --lumo-size-s: 1.75rem;
      --lumo-size-xs: 1.5rem;
      --lumo-space-xl: 2.5rem;
      --lumo-space-l: 1.75rem;
      --lumo-space-m: 1.125rem;
      --lumo-space-s: 0.75rem;
      --lumo-space-xs: 0.375rem;

    } */

@font-face {
  font-family: "Lato";
  src: url('../fonts/lato-black.woff');
}

.application-logo {
  background-image: url('./img/logo.png');
}
   
html{
	--lumo-primary-color: #0D6938;
	--lumo-primary-text-color: black;
	--lumo-primary-contrast-color: black;
	--lumo-contrast-10pct: #E0F0E0;
	--lumo-contrast-20pct: #81CBA5;
	--lumo-contrast-30pct: #475B51;
	--lumo-contrast-60pct: black; /*#FFFFFF*/
	--lumo-contrast-70pct: #F08F3E;
	--lumo-contrast-50pct: black; /*#FFFFFF*/
	--lumo-contrast-90pct: #F08F3E;
	--lumo-primary-color-50pct: #0D6938;
	--lumo-error-color: #C83000;
	--lumo-error-color-10pct: #FFCCCC;
	--lumo-success-color: #0D6938;
	--lumo-tertiary-text-color: black;
	--lumo-header-text-color: #0D6938;
	--lumo-body-text-color: #000000;
	--lumo-border-radius-l: 6px;
	--lumo-border-radius-m: 4px;
	--lumo-border-radius-s: 4px;
	--lumo-box-shadow-xl: hsla(0, 0%, 0%, 0.12);
	--lumo-box-shadow-l: hsla(0, 0%, 0%, 0.05);
	--lumo-box-shadow-m: hsla(0, 0%, 0%, 0);
	--lumo-box-shadow-s: hsla(0, 0%, 0%, 0);
	--lumo-box-shadow-xs: hsla(0, 0%, 0%, 0);
	--lumo-secondary-text-color:  black; /*#FFFFFF*/
	--vaadin-app-layout-drawer-width: 10%;
} 

vaadin-tabs[orientation="horizontal"]{
	background-color: #434343;
	color: black; /*#FFFFFF*/
	padding: 0;
	margin: 0;
}


vaadin-button[theme~="primary"]{
	text-shadow: 0 0px 0 0;
	background-image: none;
	background-color: #296647;
	color: #FFFFFF;
	box-shadow: none;
}

vaadin-app-layout::part(drawer) {
  width: 105px;
}
vaadin-app-layout[primary-section="navbar"]::part(navbar)::before {
  background: var(--lumo-base-color) linear-gradient(var(--lumo-contrast-5pct), var(--lumo-contrast-5pct));
}

vaadin-app-layout[primary-section="drawer"]::part(navbar)::before {
  background: var(--lumo-base-color);
}

vaadin-app-layout[primary-section="drawer"]::part(navbar) {
  box-shadow: 0 1px 0 0 var(--lumo-contrast-10pct);
}

vaadin-app-layout[primary-section="drawer"]:not([overlay])::part(drawer) {
  background: var(--lumo-shade-5pct);
  border: 0;
  box-shadow: 1px 0 0 0 var(--lumo-contrast-10pct), 1px 0 0 0 var(--lumo-base-color);
  z-index: 1;
}


.filterBar{
	margin-top: 1.9em;
}

.resetButton{
	margin: var(--lumo-space-xl) 0;
}