
$login-info-width: 300px !default;
$login-info-opacity: 0.7 !default;
$login-background-color: $editor-background-color !default;
$login-background-image: null !default;


@mixin sormas-login-view {
	
  .login-screen-back {
    background: #FFFFFF;
    background-image: url(../img/afghanistan-map.svg);
    background-size: cover;
 	background-position: center; 
 	
    display: flex;
    width: 100%;
    height: 100%; 	
    min-height: 460px;
  }
	  
  .login-screen {
    background-color: rgba(0,53,3,0.8);
    display: flex;
    justify-content: space-between;

    @if $login-background-image {
      background-image: url(#{$login-background-image});
	  background-size: 960px;
	  background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    width: 100%;
    height: 100%;

    .login-form-container {
      height: 100%;
      width: auto;
      display: flex;
      flex: 1 1 auto;
      overflow: visible;
      text-align: center;
      position: relative;

      .v-slot {
        height: 100%;
      }
    }

    .login-form {
      @include valo-panel-style;
      width: auto !important;
      border: none;
      @include valo-animate-in-fade($duration: 1s);
      top: 50%;
      left: 50%;
      margin: 0;
      margin-right: -50%;
      display: inline-block;
      position: absolute;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .login-sidebar {
      display: flex;
      flex-direction: column;
      background: #FFFFFF;
      top: 0;
      right: 0;
      height: 100%;
      overflow: auto;
      padding: $v-layout-margin;
      padding-right: 0px;
      @include animation(valo-animate-in-fade 1s 1s backwards);
      flex:0 0 auto;
      
      .v-widget {
        display: block;
      }
      
      .headline-label {
      	background-color: rgba(0, 90, 156, 0.7);
      	color: #FFF;
     	padding: 10px;
      }
     
      .logo-container {
      	padding: false;
      }
      
      .content-container {
      	padding-right: 20px;
      	text-align: center;
      	
      	.logo {
      	  width: 250px;
      	  margin-bottom: 30px;
      	}
      }

      .login-sidebar-custom-header {
        flex-grow: 1;
        min-width: 350px;
      }
    }
    
    .login-details {
    }
  }
  
  // No top menu on the login view, login screen layout changes
  .v-ui[width-range~="0-960px"] {

	.login-screen-back {
	  height: auto; 	
	}
 
    .login-screen {
      height: auto;
      display: inline;

      .login-information {
      	display: inline-block;
        position: static;
        width: 100%;
        height: auto;

        .v-label {
          text-align: center;

          h1 {
            margin-top: .4em;
          }
          
        }
      }
      
      .login-sidebar {
      	display: inline-block;
        position: static;
        text-align: center;
        width: 100%;
        height: auto;
        padding-right: $v-layout-margin;
        margin-top: 0px;
      
        .content-container {
      	  padding-right: 0px;
        }
      }

      .login-form-container {
      	display: inline-block;
        position: static;
        width: 100%;
        height: auto;
        padding-left: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 0px;
      }

      .login-form {
        max-width: 100%;
        margin-right: 0px;
        -ms-transform: none;
        transform: none;
        position: static;
        top: auto;

        table {
          width: 100%;
        }

        .v-textfield {
          width: 100% !important;
        }

        .v-formlayout-captioncell,
        .v-formlayout-contentcell,
        .v-formlayout-errorcell {
          display: block;
          text-align: center;
          padding-top: 0;
        }
        .buttons {
          width: 100%;
          .v-button {
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
}